{% comment %}
  Code Tabs Include Template

  Provides tabbed interface for switching between HTML, Python, and Response code views.

  Usage:
    {% include 'includes/code_tabs.html' with html_code=html_code python_code=python_code response_code=response_code %}

  Parameters:
    - html_code: HTML code content to display
    - python_code: Python code content to display
    - response_code: Response code content to display
    - tab_id: Optional unique ID for this tab set (for multiple tab sets on one page)
{% endcomment %}

{% load static %}
{% with tab_id=tab_id|default:"default" %}
<div class="code-tabs-container" id="code-tabs-{{ tab_id }}">
  <nav aria-label="Code view tabs">
    <ul class="nav nav-tabs code-tabs" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="tab-html-{{ tab_id }}"
          data-bs-toggle="tab"
          data-bs-target="#content-html-{{ tab_id }}"
          type="button"
          role="tab"
          aria-selected="true"
          aria-controls="content-html-{{ tab_id }}"
        >
          HTML
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="tab-python-{{ tab_id }}"
          data-bs-toggle="tab"
          data-bs-target="#content-python-{{ tab_id }}"
          type="button"
          role="tab"
          aria-selected="false"
          aria-controls="content-python-{{ tab_id }}"
        >
          Python
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="tab-response-{{ tab_id }}"
          data-bs-toggle="tab"
          data-bs-target="#content-response-{{ tab_id }}"
          type="button"
          role="tab"
          aria-selected="false"
          aria-controls="content-response-{{ tab_id }}"
        >
          Response
        </button>
      </li>
    </ul>
  </nav>
  <div class="tab-content" id="codeTabContent">
    <div
      class="tab-pane fade show active"
      id="content-html-{{ tab_id }}"
      role="tabpanel"
      aria-labelledby="tab-html-{{ tab_id }}"
    >
      {% include 'includes/code_block.html' with language='html' code=html_code code_id=tab_id|add:"-html"|default:"code-html" %}
    </div>
    <div
      class="tab-pane fade"
      id="content-python-{{ tab_id }}"
      role="tabpanel"
      aria-labelledby="tab-python-{{ tab_id }}"
    >
      {% include 'includes/code_block.html' with language='python' code=python_code code_id=tab_id|add:"-python"|default:"code-python" %}
    </div>
    <div
      class="tab-pane fade"
      id="content-response-{{ tab_id }}"
      role="tabpanel"
      aria-labelledby="tab-response-{{ tab_id }}"
    >
      {% include 'includes/code_block.html' with language='json' code=response_code code_id=tab_id|add:"-response"|default:"code-response" %}
    </div>
  </div>
</div>
{% endwith %}
