{% extends "base.html" %}

{% block content %}

  <div class="container py-3">
    <header class="mb-5">
      <h1 class="h2">File Upload</h1>
      <p class="text-muted">Upload files</p>
    </header>

    <section class="card shadow-sm mb-4">
      <div class="card-body">
        <h2 class="h5 mb-3">How it Works</h2>
        <ol class="text-muted small">
          <li>Select a file(s) using the file input</li>
          <li>
            Submission sends POST to <code>/file-upload/</code>
          </li>
          <li>Server processes the file(s), save to disk and returns result fragment</li>
          <li>Datastar merges the result into the upload area</li>
        </ol>
      </div>
    </section>

    <div class="card shadow-sm">
      <div class="card-body">
        <input type="file" data-bind:files multiple class="form-control mb-3" />

        <button class="btn btn-warning"
                data-on:click="$files.length && @post('{% url "examples:file-upload" %}')"
                data-attr:aria-disabled="`${!$files.length}`">Upload</button>

        {% include 'examples/fragments/upload_result.html' %}
      </div>
    </div>

    <section class="card shadow-sm my-4">
      <div class="card-body">
        <h2 class="h5 mb-3">Learn More</h2>
        <ul class="mb-0">
          <li>
            <a href="https://docs.djangoproject.com/en/stable/topics/http/file-uploads/"
               target="_blank"
               class="text-decoration-none">Django File Uploads</a>
          </li>
          <li>
            <a href="https://data-star.dev/reference/attributes"
               target="_blank"
               class="text-decoration-none">Loading Indicators</a>
          </li>
          <li>
            <a href="https://docs.djangoproject.com/en/stable/topics/forms/"
               target="_blank"
               class="text-decoration-none">Django Forms</a>
          </li>
        </ul>
      </div>
    </section>
  </div>

{% endblock content %}
