<li class="list-group-item d-flex align-items-center"
    id="todo-{{ todo.id }}">

  <input type="checkbox"
         class="form-check-input me-2"
         {% if todo.is_completed %}checked{% endif %}
         id="checkbox-todo-{{ todo.id }}"
         data-on:change="$todoToggleId={{ todo.id }}; @post('{% url "examples:todo-mvc-toggle" %}')" />
  <span class="{% if todo.is_completed %}text-decoration-line-through{% endif %} flex-grow-1">
    {{ todo.title }}
  </span>
  <button class="btn btn-outline-danger btn-sm"
          data-on:click="$todoToggleId={{ todo.id }}; confirm('Delete todo?') && @post('{% url 'examples:todo-mvc-delete' %}')">
    <i class="bi bi-x fs-5"></i>
  </button>
</li>
